* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .App{
    height: 100vh;
}


#title {
    text-align: center;
}

#quote-box {
    margin: 150px auto;
    padding: 20px;
    width: 450px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#quote-text {
    text-align: center;
    vertical-align: top;
}

#quote-author {
    text-align: right;
}